* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 62.5;
}

#mainHeader, #mainFooter{
    background-color: yellow;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
}

#mainHeader a {
    font-size: 1.5rem;
    margin: 1rem;
}

.container {
    text-align: center;
}

h1 {
    margin-top: 1rem;
}

.itemContainer img {
    width: 300px;
}

.itemBtn {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    width: max-content;
    margin: 1rem auto;
}

.itemBtn p {
    font-size: 2rem;
}

.itemBtn button {
    height: 2rem;
}

.itemList {
    display: flex;
    font-size: 2rem;
}

.itemList img {
    height: 300px;
}